# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [3]:

print("Sydney Walker")

Sydney Walker

<font size = "5">

Import the "pandas", "sqlalchemy" and "URL" libraries <br>
(See Lecture 20)

In [1]:
# Write your answer here:

import pandas as pd
import psycopg2
import sqlalchemy as sa
from   sqlalchemy.engine import URL
from   sqlalchemy import text

<font size = "5">

Establish a connection to the SQL server <br>
from Python as in Lecture 20 using <br>
```URL()``` and ```create_engine()```

In [41]:
# Write your own code

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    username = 'postgres',
    port = 5432,
    password  = '12345')

con = sa.create_engine(url_server).connect()

<font size = "5">

In this homework, you will repeat the exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Remember that there is a special syntax for <br>
column names that have capital letters


<font size = "5">

(a) Import "lap_times.csv" and "drivers.csv"  

<font size = "3">

- Import the data using ```pd.read_csv()```
- Upload to the server using  ```.to_sql()```

In [8]:

lap_times = pd.read_csv('data_raw/lap_times.csv')
drivers = pd.read_csv('data_raw/drivers.csv')

In [12]:
#Write your own code

lap_times.to_sql('laptimes_sql',
                    con=con,
                    if_exists = 'replace')

drivers.to_sql('drivers_sql',
                    con=con,
                    if_exists = 'replace')

857

<font size = "5">

(b) Subset and sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Use ```WHERE``` to get a subset of "drivers" with 
```nationality = 'American'```
- Chain this with ```ORDER BY surname ASC``` to sort in <br>
ascending order

HINT: Use single quotes inside a string as in Lecture 20

In [ ]:
# Write your own code

pd.read_sql(text("SELECT * \
                FROM drivers_sql \
                WHERE nationality = 'American' \
                ORDER BY surname ASC;"),con)

<font size = "5">

(c) Count unique values

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Count the number of unique "driverId" using ```COUNT(DISTINCT ...)``` <br>
from the dataset "drivers"

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [ ]:
# Write your own code

pd.read_sql(text("SELECT(COUNT(DISTINCT \"driverId\")) \
                 AS \"num_distint_driverIds\" \
                FROM drivers_sql;"), con)

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Obtain the average of "milliseconds" by "driverId" using ```GROUP BY```
- User ```ORDER BY ``` to sort on the average of milliseconds

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [ ]:
# Write your own code

pd.read_sql(text("SELECT AVG(milliseconds) as average_milliseconds \
                             FROM laptimes_sql \
                             GROUP BY \"driverId\" \
                            ORDER BY average_milliseconds;"),con)

<font size = "5">

(e) Merge two tables

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Merge the tables "lap_times" (primary) and "drivers" (secondary) <br>
on "driverId" using ```LEFT JOIN``` on "driverId".

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [ ]:
# Write your own code

pd.read_sql(text("SELECT * \
                            FROM laptimes_sql \
                            LEFT JOIN drivers_sql \
                            ON laptimes_sql.\"driverId\" = drivers_sql.\"driverId\" ;"),con)