# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [46]:
# Write your answer here
print('Sydney Walker')

Sydney Walker

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [45]:
# Write your answer here:

print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [1]:
# Write your answer here

import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/driver_standings.csv" file
- Replace the values "D" with 26 in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

HINT: See the example in Lecture 13

In [47]:
# Write your own code

driver_standings = pd.read_csv('data_raw/driver_standings.csv')
driver_standings['positionText'] = driver_standings['positionText'].replace("D", 26)

driver_standings['positionNumeric'] = pd.to_numeric(driver_standings['positionText'])

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/seasons.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1970","1971-1990","1991-2005", "2006-2020", "2021-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [27]:
# Write your own code

seasons = pd.read_csv("data_raw/seasons.csv")

bins_years = [1950, 1971, 1991, 2006, 2021, 2100]
labels_years = ['1950-1970', '1971-1990', '1991-2005', '2006-2020', '2021-onwards']

seasons['year_brackets'] = pd.cut(seasons['year'],
                                  bins = bins_years,
                                  right = False,
                                  labels = labels_years,)

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/driver_standings.csv" file
- Subset the observations for 'raceId $\ge$ 99' using ```.query()```
- Obtain the mean of "points" by "driverId" <br> 
 using ``` .groupby().agg() ```
- Subset the drivers with a mean of points $\ge 40$
- Store the results of all these operations in a dataframe <br>
```driver_standings_agg ```

In [51]:
# Write your own code

driver_standings = pd.read_csv('data_raw/driver_standings.csv')
driver_standings_agg = (driver_standings.query('raceId >= 99')
                       .groupby('driverId')
                       .agg(mean_points = ('points', 'mean'))
                       .query('mean_points >= 40'))

print(driver_standings_agg)

          mean_points
driverId
1          166.259615
3          119.205882
4           61.083650
8           59.899225
13          46.447514
17          78.316239
18          43.486607
20         121.132296
30          46.082397
815         51.820833
817         58.732759
822         96.064356
830        125.295732
832         50.734756
844         93.451923
846         62.421687

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/driver_standings.csv" file
- Obtain the mean of "points" by "driverId" <br> 
using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the mean of points using ``` .sort_values() ```

In [50]:
# Write your own code

driver_standings = pd.read_csv('data_raw/driver_standings.csv')
driver_standings_agg = (driver_standings.groupby(['driverId'])
                       .agg(mean_points = ('points', 'mean'))
                       .sort_values(by = 'mean_points', ascending = False))

print(driver_standings_agg)

          mean_points
driverId
1          146.663987
830        125.295732
20         107.110368
822         96.064356
844         93.451923
...               ...
480          0.000000
217          0.000000
218          0.000000
220          0.000000
858          0.000000

[850 rows x 1 columns]

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/driver_standings.csv" file
- Rename the column "points" to "points_driver"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [38]:
# Write your own code

driver_standings = pd.read_csv('data_raw/driver_standings.csv')
dict_rename_driverstandings = {'points' : 'points_driver'}
driver_standings = driver_standings.rename(columns = dict_rename_driverstandings)

print(driver_standings.columns.values)

['driverStandingsId' 'raceId' 'driverId' 'points_driver' 'position'
 'positionText' 'wins']

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/driver_standings.csv" and <br>
"data_raw/drivers.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"driver_standings" as the primary dataset, and <br>
"drivers" as the secondary dataset, merging on <br>
the column "driverId"
- To get full points **ONLY** merge the "surname" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"driverId" column

In [44]:
# Write your own code

driver_standings = pd.read_csv('data_raw/driver_standings.csv')
drivers = pd.read_csv('data_raw/drivers.csv')

drivers_merged = pd.merge(driver_standings,
                          drivers[['driverId', 'surname']],
                          on = 'driverId',
                          how = 'left')

display(drivers_merged[['driverStandingsId', 'driverId', 'surname']])

       driverStandingsId  driverId     surname
0                      1         1    Hamilton
1                      2         2    Heidfeld
2                      3         3     Rosberg
3                      4         4      Alonso
4                      5         5  Kovalainen
...                  ...       ...         ...
33897              71841       840      Stroll
33898              71842       852     Tsunoda
33899              71843       830  Verstappen
33900              71844       856    de Vries
33901              71845       855        Zhou

[33902 rows x 3 columns]