In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import date, time, datetime

In [3]:
pitstops = pd.read_csv("data_raw/pit_stops.csv")
drivers = pd.read_csv("data_raw/drivers.csv")
results = pd.read_csv("data_raw/results.csv")
races = pd.read_csv("data_raw/races.csv")

In [25]:
#races_monaco = races.query('name == "Monaco Grand Prix"')
#display(races_monaco)

len(races.query('name == "Italian Grand Prix"'))

74

In [14]:
unique_races = pd.unique(races["name"])
display(unique_races)

array(['Australian Grand Prix', 'Malaysian Grand Prix',
       'Chinese Grand Prix', 'Bahrain Grand Prix', 'Spanish Grand Prix',
       'Monaco Grand Prix', 'Turkish Grand Prix', 'British Grand Prix',
       'German Grand Prix', 'Hungarian Grand Prix', 'European Grand Prix',
       'Belgian Grand Prix', 'Italian Grand Prix', 'Singapore Grand Prix',
       'Japanese Grand Prix', 'Brazilian Grand Prix',
       'Abu Dhabi Grand Prix', 'Canadian Grand Prix', 'French Grand Prix',
       'United States Grand Prix', 'San Marino Grand Prix',
       'Austrian Grand Prix', 'Argentine Grand Prix',
       'Luxembourg Grand Prix', 'Portuguese Grand Prix',
       'Pacific Grand Prix', 'South African Grand Prix',
       'Mexican Grand Prix', 'Korean Grand Prix', 'Detroit Grand Prix',
       'Dutch Grand Prix', 'Dallas Grand Prix',
       'United States Grand Prix West', 'Swiss Grand Prix',
       'Caesars Palace Grand Prix', 'Swedish Grand Prix',
       'Indianapolis 500', 'Moroccan Grand Prix', 'Pescara Grand Prix',
       'Indian Grand Prix', 'Russian Grand Prix', 'Azerbaijan Grand Prix',
       'Styrian Grand Prix', '70th Anniversary Grand Prix',
       'Tuscan Grand Prix', 'Eifel Grand Prix',
       'Emilia Romagna Grand Prix', 'Sakhir Grand Prix',
       'Qatar Grand Prix', 'Mexico City Grand Prix',
       'São Paulo Grand Prix', 'Saudi Arabian Grand Prix',
       'Miami Grand Prix', 'Las Vegas Grand Prix'], dtype=object)

In [4]:
sorted_pitstops = pitstops.sort_values(by='duration', ascending=False)

In [ ]:
pitstops_merge = pd.merge(races,
                          sorted_pitstops,
                          on = "raceId",
                          how = "left")

In [8]:
pitstops_final = pd.merge(results,pitstops_merge, on='driverId')
pitstops_final2 = pitstops_final[["driverId","points","stop","duration","milliseconds_y"]]
display(pitstops_final2)

         driverId  points  stop duration  milliseconds_y
0               1    10.0   1.0   23.227         23227.0
1               1    10.0   2.0   23.199         23199.0
2               1    10.0   3.0   25.382         25382.0
3               1    10.0   2.0   22.611         22611.0
4               1    10.0   1.0   22.552         22552.0
...           ...     ...   ...      ...             ...
1674163       855     0.0   2.0   25.111         25111.0
1674164       855     0.0   1.0   24.332         24332.0
1674165       855     0.0   2.0   23.159         23159.0
1674166       855     0.0   1.0   22.435         22435.0
1674167       856     2.0   1.0   24.628         24628.0

[1674168 rows x 5 columns]

In [9]:
pitstopduration_agg = (pitstops_final2.groupby(["driverId"])
                       .agg(total_pitstop_duration = ('milliseconds_y', 'sum'),
                        total_points =('points', 'mean'))
                        .sort_values(by = 'total_pitstop_duration', ascending = False))
display(pitstopduration_agg)

          total_pitstop_duration  total_points
driverId
1                   1.172882e+10     14.182258
20                  1.086696e+10     10.326667
4                   1.056322e+10      5.756983
8                   9.748976e+09      5.321023
817                 8.880366e+09      5.633621
...                          ...           ...
834                 1.557685e+06      0.000000
812                 8.433480e+05      0.000000
850                 3.158020e+05      0.000000
851                 9.057900e+04      0.000000
856                 2.462800e+04      2.000000

[70 rows x 2 columns]